<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>My Web Application</display-name>

  <!-- Mapea JSPs o servlets -->
  <servlet>
    <servlet-name>myServlet</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>TriviasServlet</servlet-name>
    <servlet-class>user.TriviasServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TriviasServlet</servlet-name>
    <url-pattern>/TriviasServlet</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <!-- Configuración adicional como filtros, listeners, etc. -->
</web-app>

